.instrument-card {
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.instrument-card:hover {
  transform: scale(1.03);
}

.overlay {
  background: rgba(29, 17, 69, 0.7);
  border-radius: 0 0 15px 15px;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #c2bdf5;
  font-weight: 600;
}

.title {
  font-weight: 700;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #1d1145;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  transition: 0.3s;
}

.btn-light:hover {
  background-color: #c2bdf5;
  color: #1d1145;
}
