.page-banner {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(20, 0, 40, 0.7);
  display: flex;
  align-items: center;
}

.banner-content h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumb {
  background: transparent;
}

.breadcrumb-item a {
  color: #cdb8ff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #ffffff;
}
.page-banner .breadcrumb {
  justify-content: center;
  display: flex;
}
