.scale-page {
  background: #190634;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scale-title {
  color: white;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 40px;
}

.scale-card {
  width: 80%;
  background: rgba(255, 255, 255, 0.12);
  padding: 35px;
  border-radius: 20px;
  margin-bottom: 40px;
  color: white;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
.scale-img {
        width:76%;
  border-radius: 12px;
  margin: 20px 0;
  display: block;
}
.scale-img2
{
         width: 56%;
    border-radius: 12px;
    margin: 20px 0;
    display: block;
}

.scale-card h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.scale-card p {
  font-size: 18px;
  line-height: 1.6;
}

/* CONTENTS BOX (same as chords) */
.contents-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 25px 30px;
  border-radius: 15px;
  margin-top: 25px;
  width: fit-content;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.contents-box h3 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}

.contents-box ol {
  padding-left: 22px;
  margin: 0;
}

.contents-box ol li {
  padding: 6px 0;
  font-size: 18px;
  color: #d8cfff;
  cursor: pointer;
  transition: 0.2s ease;
}

.contents-box ol li:hover {
  color: #e666ff;
  transform: translateX(3px);
}

.scale-card strong {
  color: #e666ff;
}